app-level{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
img{
    border: 1px solid black;
    width:  150px;
    height: 150px;
}
header{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}